@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textSpan {
  text-align: center;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-enter {
  opacity: 0;
  background: #0c7fcd;
}

.alert-enter-active {
  transition: opacity 5000ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 5000ms ease-out;
  opacity: 0;
}
//------------------------------

.note-enter-active {
  background: rgba(211, 241, 217, 0.38);
  animation: note 300ms ease-out alternate-reverse;
}

.note-exit-active {
  background: rgba(239, 212, 212, 0.38);
  animation: note 500ms ease-out forwards;
}

@keyframes note {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: .5;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}